
{% extends 'base.html' %}
{%load static%}
{% block content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete order id: {{object.id}} ?</p>
    <p>Id :{{object.price}}</p>
{% comment %} <p> Table Number: {{object.table_number}}</p>
<p> Dishes:
    {%for i in  object.items.all%}
     {{i}}</p>
     {%endfor%}
<p> Total Price: {{object.total_price}}</p> {% endcomment %}
<p> Satus: {{object.name}}</p>
    <input type="submit" value="Delete">
</form>
{% endblock content %}